/* 
Created by 4you
01-10-2013
Copyright 2013 all rights reserverd
http://www.nzb4you.com
 */


/* General */
.ui-content {color: #4c596e;padding: 9px;}
.ui-body-c .ui-link-inherit {color: black !important;text-shadow: none !important;}
body, .ui-body-c, .ui-overlay-c {background-color: black !important;background: black !important;}
.ui-shadow {box-shadow: none !important;}
p {padding: 0 12px;margin:0;}
ul p {padding: 0;}
.depiction .ui-li-desc {white-space:normal !important;}
table {width:100%;-webkit-border-horizontal-spacing: 0px;-webkit-border-vertical-spacing: 0px;}
td {padding: 0px !important}
form {width:100%;}
.ui-li-divider {font-size: 16px;}

/* Corner */
.ui-corner-all {border-radius: 8px;}
.ui-btn-corner-all {border-radius: 8px;}
    
/* Button */
.ui-btn-left, .ui-btn-right, .ui-input-clear, .ui-btn-inline, .ui-grid-a .ui-btn, .ui-grid-b .ui-btn, .ui-grid-c .ui-btn, .ui-grid-d .ui-btn, .ui-grid-e .ui-btn, .ui-grid-solo .ui-btn {margin-right: 10px;margin-left: 0px;}
.ui-btn-up-c {color: black !important;text-shadow: none !important;border-color: #999;background: #444444 !important;}
.depiction .ui-btn-down-c {border: 1px solid #999;background: black !important;color: black;text-shadow: none !important;background-image: none;}
       
/* List */
.hyp {width: 100%;}
 
.ui-listview .ui-li-icon {max-height: 20px;max-width: 20px;left: 10px;top: 11px;}
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {padding-top: 13px; padding-bottom: 9px;}
.depiction .ui-listview {box-shadow: none;}
.depiction .ui-listview, .depiction .ui-listview li {border-color: red;background:#CCCCCC; color:#CCCCCC; text-shadow:none;}
.depiction .ui-bar-b {background: black !important;}
.depiction .ui-listview .ui-btn-down-c {background:#CCCCCC;}
.depiction .ui-listview .ui-btn-down-c a {color: black;text-shadow: none;}
.depiction .ui-listview .ui-icon-arrow-r {box-shadow: none;}
.ui-listview .ui-icon-arrow-r {background-color: transparent; background-image: url("http://www.nzb4you.com/repo/depict/_img/arrow1.png"); background-position: center center; background-repeat: no-repeat !important; background-size: 10px 13px !important;}
.ui-listview .ui-icon-arrow-d {background-color: transparent; background-image: url("http://www.nzb4you.com/repo/depict/_img/arrow2.png"); background-position: center center; background-repeat: no-repeat !important; background-size: 13px 10px !important;}
img.profilepic {width:73px; height:73px; margin-top: 4px; margin-left: 3px; border-radius: 6px !important;}

/* Screenshots + Video */
.ss {border-radius: 8px;}
.ssframe .ss {width: 100%;}
.ssframe {border-radius: 8px; border:1px solid #999;background:#fff;margin-bottom:6px;}
.video-container {position: relative;padding-bottom: 56.25%;height: 0; overflow: hidden;margin: 3px 0 6px 0;}
.video-container iframe,.video-container object,.video-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;border: none;}

/* PayPal */
#ppimg {width: 100%;height: 39px;}
#ppcss {margin-top:-61px;pointer-events:none;}
#pppretty {margin: 0 auto;display: block;}
.ui-btn-up-e {border: 1px solid #c28813;color:#32679b;text-shadow:0px 1px 1px rgba(255, 255, 255, 0.5);
background-image: linear-gradient(#f6ac18,#f6ac18) !important;
background-image: -webkit-linear-gradient(#f6ac18,#f6ac18) !important;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f6ac18),to(#f6ac18)) !important;}